doctype
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title transition image
		link(rel="stylesheet" href="../css/style.css")
	body
		#wrapper 
			#cover
				#box1.box box1
				#box2.box box2
				#box3.box box3
				#box4.box box4
